.movie-enter-active,
.movie-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-active,
.v-leave-active {
  transition: opacity var(--animation-duration) var(--animation);
}

.player-enter-active,
.player-leave-active {
  transition: opacity calc(var(--animation-duration) * 2) ease;
}

.movie-leave-active {
  transition-delay: 3s;
}

.movie-enter-from,
.movie-leave-to,
.v-enter-from,
.v-leave-to,
.player-enter-from,
.player-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
