$font-color-primary: #f1f1f1;
$font-color-description: #aaaaaa;

$background-color-primary: #0d0d0d;
$background-loading-preview: #101a16;

$padding-collection: 7rem;

$border-radius: 0.6rem;

$movies-in-collection: 4;
