$font-color-primary: #f1f1f1;
$font-color-description: #aaaaaa;

$background-color-primary: #0d0d0d;
$background-loading-preview: #101a16;
$background-profile: #2c2c2c;

$error-color: #ee1f1f;

$color-rating-bad: #ee1f1f;
$color-rating-neutral: #aaaaaa;
$color-rating-good: #39b026;
$color-rating-great: linear-gradient(116.45deg, #eafb2a 0%, #e7a82e 100%);
$font-color-rating-great: #362804;
$input-color: change-color($font-color-description, $alpha: 0.4);
$input-placeholder-color: change-color($font-color-description, $alpha: 0.4);

$padding-wrapper: 7rem;
$height-header: 4rem;
$padding-header: calc($padding-wrapper / 3.6);

$border-radius: 0.6rem;

$movies-in-collection: 4;
$width-column: calc(
  (100% - ($movies-in-collection - 1) * 1em) / $movies-in-collection
);

$animation-time: 0.2s;
$opacity: 0.6;
$opacity-disabled: 0.4;

$animation: cubic-bezier(0,0,0.2,1);

$scale-up: 1.08;
$scale-down: 0.96;

$border-color: change-color($font-color-description, $alpha: 0.12);
$border-line: 1px solid;

$height-select: 3em;
$count-options: 6;
