:root {
  --color-primary: #f1f1f1;
  --color-error: #ee1f1f;
  --color-secondary-1: rgba(170, 170, 170, 0.1);
  --color-secondary-2: rgba(170, 170, 170, 0.2);
  --color-secondary-4: rgba(170, 170, 170, 0.4);
  --color-secondary-6: rgba(170, 170, 170, 0.6);
  --color-secondary-8: rgba(170, 170, 170, 0.8);
  --color-secondary: rgb(170, 170, 170);

  --background-color-main-6: rgba(13, 13, 13, 0.68);
  --background-color-main: #0d0d0d;
  --background-color-preview: #101a16;
  --background-secondary: #2c2c2c;

  --color-rating-bad: #ee1f1f;
  --color-rating-neutral: #aaaaaa;
  --color-rating-good: #39b026;
  --color-rating-great-background: linear-gradient(
    116.45deg,
    #eafb2a 0%,
    #e7a82e 100%
  );
  --color-rating-great: #362804;

  --color-input: var(--color-secondary-4);
  --color-border: var(--color-secondary-2);

  --padding-wrapper: 7rem;
  --height-header: 4rem;
  --padding-header: calc(var(--padding-wrapper) / 3.6);

  --columns: 4;
  --width-columns: calc((100% - (var(--columns) - 1) * 1em) / var(--columns));

  --animation-duration: 0.2s;
  --opacity: 0.6;
  --opacity-secondary: 0.4;

  --animation: cubic-bezier(0, 0, 0.2, 1);

  --scale-up: 1.08;
  --scale-down: 0.96;

  --border-line: 1px solid;
  --border-radius: 0.4em;

  --height-select: 3em;
  --count-options: 6;
}
