@import 'reset';
@import 'variables';
@import 'fonts';
@import 'transitions';

html {
  font-size: 1vh;
}

body {
  font-size: 1.6rem;
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Resist Sans Text', Helvetica, Arial, sans-serif;
  color: $font-color-primary;
  background-color: $background-color-primary;
  line-height: 1.25;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1.125em;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding: calc(2 * $padding-wrapper + $height-header) 0
    calc($padding-wrapper * 1.5);
  display: flex;
  flex-direction: column;
  row-gap: $padding-wrapper * 1.12;
}

button {
  will-change: scale;
  transition: scale $animation-time ease;

  &:hover {
    scale: 1.02;
  }

  &:active {
    scale: $scale-down;
  }
}

.button_no-scaled {
  &:hover,
  &:active {
    scale: 1;
  }
}

.description__text {
  font-size: 0.875em;
  line-height: 1.5;
  font-weight: 400;
  color: $font-color-description;
}
